<!-- Homepage Banner -->
<%= image_tag "store02.jpg", :class=> "header" %>
<!-- End Banner -->
<br>
<p><%= link_to "View Products", products_path %></p>
<p><%= link_to "New Products", new_product_path %></p>