<h1>Listing products</h1>
<div class="container-fluid col-xs-12">
  <table class="productdb">
    <tr class="my-row">
    <th>Name</th>
    <th>Description</th>
    <th>Image URL</th>
    <th>Colour</th>
    <th>Price</th>
    <th>Options</th>
    </tr>
  <tbody>
  <% cache(cache_key_for_products) do %>
    <%= render @products %>
  <% end %>
  </tbody>
  </table>
</div>
<br>
<%= link_to 'New Product', new_product_path %>
<%= link_to "Home", root_path %>