<!DOCTYPE html>
<html>
<head>
  <title>Basic Rails Web App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Begin Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <nav class="container-fluid anchor">
        <nav class="navbar-header"> <!-- begin header -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <nav class="navbar-brand" id="homepage">
            <a href="#index">The Snackbar</a>
          </nav> <!-- end project name -->
        </nav> <!-- end navbar header -->
        <nav class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Home</a></li>
            <li><a href="">All Items</a></li>
            <li><a href="">Product Request</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </nav>
      </nav> <!-- end nav container -->
    </nav> 
  </div><!-- /.container-fluid -->
</nav>
<!-- End Navigation -->

<%= yield %>

<!-- Begin Footer -->
    <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Company<span>Name</span></h3>
        <p class="footer-links">
          <a href="#">Home</a>
          路
          <a href="#">All Items</a>
          路
          <a href="#">Product Requests</a>
          路
          <a href="#">About</a>
          路
          <a href="#">Contact</a>
        </p>
        <p class="footer-company-name">Ho Pang Au Yeung &copy; 2015</p>
      </div>
      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>21 Revolution Street</span> Paris, France</p>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <p>+1 555 123456</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
          Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/hopanga/RailsProject1"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </footer>

<!-- End Footer-->

</body>
</html>


